body {
  --active: #42a5f5;
  background: #e2e2e2 url(/assets/images/background.svg) repeat;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  min-width: 320px;
  padding: 0;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.card {
  display: block;
  padding: 1em;
  cursor: pointer;
  width: 11em;
  font-size: 1.2em;
  text-align: center;
  min-height: 5em;
  background-color: var(--bg);
  border: 5px solid var(--bg);
  border-radius: 13.5px;
  box-shadow:
    0.15em 0.15em 0.4em var(--shadow),
    -0.05em -0.05em 0.4em var(--shadow);
  font-family:
    Helvetica Neue,
    Nimbus Sans L,
    sans-serif;
  font-weight: 700;
}

input:disabled ~ .card {
  cursor: initial;
}

.black {
  --bg: #000;
  --shadow: #0000004d;
  color: #fff;
}

input:checked ~ .white {
  border-color: var(--active);
}

.white {
  --bg: #fff;
  --shadow: #42a5f54d;
}

input:disabled ~ .white {
  --shadow: #9c9c9c4d;
}

input:checked ~ .black {
  border-color: #ff6122;
}

fieldset {
  border: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#sidebar,
#victory {
  box-shadow:
    0px 2px 1px -1px #00000033,
    0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}

#sidebar {
  background-color: #fff;
  font-size: 1rem;
  width: 9rem;
  min-width: 9rem;
  padding: 0 1em 1em 1em;
  margin-right: 32px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#victory {
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 3em 5em;
  line-height: 1.5em;
  text-align: center;
}

#players li {
  margin-top: 0.5em;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.name {
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  margin-right: 2em;
}

#join {
  margin: auto;
  background: #fff;
  height: max-content;
  max-width: 28em;
  padding: 2em 1em;
  box-shadow:
    0 2px 1px -1px #00000033,
    0 1px 1px 0 #00000024,
    0 1px 3px 0 #0000001f;
  border-radius: 4px;
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#join input {
  appearance: none;
  background-color: #f5f5f5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #212121;
  height: 56px;
  padding: 0 1em;
  font-size: 1rem;
  border-color: transparent;
  border-bottom: 1px solid #00000066;
  outline: none;
}

#join input:focus {
  border-bottom-color: var(--active);
  caret-color: var(--active);
}

#join input:focus::placeholder {
  color: var(--active);
}

#settings {
  display: flex;
  flex-direction: column;
}

#settings label {
  display: flex;
}

#settings span {
  flex-grow: 1;
}

button {
  margin-left: auto;
  appearance: none;
  border: none;
  background-color: var(--active);
  box-shadow:
    0px 2px 4px -1px #00000033,
    0px 4px 5px 0px #00000024,
    0px 1px 10px 0px #0000001f;
  color: #212121;
  cursor: pointer;
  height: 36px;
  padding: 0 1em;
  text-transform: uppercase;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.125rem;
}

form:invalid button,
button:disabled {
  background-color: #e0e0e0;
  cursor: unset;
}

.score {
  color: #ff6122;
  white-space: nowrap;
}

.state {
  width: 1.5em;
}

#players svg,
button svg {
  height: 1em;
  vertical-align: -0.125em;
}

.term {
  font-variant: small-caps;
  letter-spacing: 0.05em;
  margin-top: 1em;
  display: block;
}

.you {
  font-weight: 700;
}

#fighters {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 2em;
  justify-content: center;
  flex-direction: column;
}

.fighter {
  display: flex;
  justify-content: center;
  gap: 0.25em;
  flex-wrap: wrap;
}

#app {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding-right: 32px;
  box-sizing: border-box;
}

#hand div {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

#hand button {
  margin: 0 auto 1.5em auto;
}

#game {
  margin: 1em auto;
  min-width: 30em;
}
